<div class="centered panel panel-default" ng-style="myUI">
    <div class="panel-body">
        <a ui-sref="liste_messages"><button type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></a>
        <div>
            <h3>{{message.topic}}</h3>
            Content : <strong>{{message.content}}</strong>
            <br/>
            lastUpdate : {{message.lastUpdate}}
        </div>
        <a ui-sref="liste_messages.comment({ pid : message.id })"><span class="glyphicon glyphicon-plus"/>Ajouter un commentaire</a> 
        <div><a ui-sref="liste_messages.edit({ id : message.id })"><span class="glyphicon glyphicon-pencil"/></a></div>
        <div><a ui-sref="liste_messages.delete({ id : message.id })"><span class="glyphicon glyphicon-trash"/></a></div>
    </div>
</div>
