<div id="listemessages">
    <h3>Liste des messages</h3>
    <a ui-sref=".create"><span class="glyphicon glyphicon-plus"/>Ajouter un message</a> 
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>topic</th>
                <th>content</th>
                <th>lastUpdate</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="message in messages">
                <td><a ui-sref=".detail({ id : message.id })"  ng-bind="message.topic"></a></td>
                <td>{{message.content}}</td>
                <td>{{message.lastUpdate}}</td>
            </tr>
        </tbody>
    </table>
    <br/>
<div>

<div ui-view></div>
