<form class="form-signin" role="form" method="post" action="/authenticate">
    <h2 class="form-signin-heading">Merci de vous identifier</h2>
    <input type="text" class="form-control" name="login"
           placeholder="Identifiant" required autofocus>
    <input type="password" class="form-control" name="password"
           placeholder="Mot de passe" required>
    <button class="btn btn-lg btn-primary btn-block" 
            type="submit">Connexion</button>
    <br/>
    <a href="/auth/twitter" class="btn btn-info">Se connecter avec Twitter</a><br/>
</form>