<p>Bienvenue a Social Messaging, votre login est : {{user.identifiant}}</p><br/>
<div class="centered panel panel-default" ng-style="myUI">
    <div class="panel-body">
<h3>Merci de bien vouloir remplir vos informations personnels </h3>
<form id ="form" class="form" role="form">
<div class="form-group">
        <input type="hidden" name="login" value="{{personne.login}}"/>
        <label for="lastname">Nom</label>
        <input type="text" class="form-control" id="lastname" name="lastname"
               value="{{personne.lastname}}" required autofocus>
        <label for="firstname">Prenom</label>
        <input type="text" class="form-control" id="firstname" name="firstname"
               value="{{personne.firstname}}" required>
        <label for="birthdate">Date de naissance</label>
        <input type="date" class="form-control" id="birthdate" name="birthdate"
               value="{{personne.birhtdate}}" required>
        <label for="nickname">Pseudo</label>
        <input type="text" class="form-control" id="nickname" name="nickname" value="{{personne.nickname}}">        
    </div>
    <button class="btn btn-lg btn-primary btn-block" 
            type="submit">Enregistrer</button>
</form>       
    </div>
</div>
<br/>