<p>Bienvenue a Social Messaging, votre login est : {{user.identifiant}}</p><br/>

<!--Creation de l'utilisateur-->
<p>Merci de bien vouloir remplir vos informations personnels </p>

<form id ="form" class="form" role="form">
<div class="form-group">
        <input type="hidden" name="login" value="{{user.identifiant}}"/>
        <label for="lastname">Nom</label>
        <input type="text" class="form-control" id="lastname" name="lastname"
               value="{{lastname}}" required autofocus>
        <label for="firstname">Prenom</label>
        <input type="text" class="form-control" id="firstname" name="firstname"
               value="{{firstname}}" required>
        <label for="birthdate">Date de naissance</label>
        <input type="date" class="form-control" id="birthdate" name="birthdate"
               value="{{birhtdate}}" required>
        <label for="nickname">Pseudo</label>
        <input type="text" class="form-control" id="nickname" name="nickname" value="{{nickname}}">        
    </div>
    <button class="btn btn-lg btn-primary btn-block" 
            type="submit">Enregistrer</button>
</form>

<br/>


<script>
$(document).ready(function() {
  $("#form_selector").submit(function() {
    $.ajax({
     type: "POST",
      url: "/api/personne",
      data: $(this).serialize(),
      success: function() {
        $.ajax({
            type: "GET",
            url : "/",
        })
      }
    })

  })
})
</script>